/****************************************************
*****************************************************
**
**Cours de CSS (en parallèle au cours de html)
**
**Mises à jour : 
**	25/07/2014
**		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/mettre-en-place-le-css ==> terminay !!!
**  	En gros : les sélecteurs;
**
**  26/07/2014
**		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/formatage-du-texte
**		début...
**  27/07/2014
**      On avance... ~ moitié de la page. J'en suis aux polices.
**
**  29/07/2014
**      Terminay le formatage ! Je passe à :
**      http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/la-couleur-et-le-fond
**
**	29/08.2014
**      Et on reprend enfin...
**		Terminay !!! Je passe à :
**		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/les-bordures-et-les-ombres
**		et hop !!!!
**		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/creation-d-apparences-dynamiques
**		ET BAAAAAAAM
**		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/structurer-sa-page
**
**
*****************************************************
*****************************************************/

/*
	Fichier appelé par la page '20140725_hutz.html', 'hutz.html', et '20140829_hutz.html'
*/



/**********************************************
*Notions sur les sélecteurs                   *
*                                             *
**********************************************/

	/*Exemple de commande css ; signifie "tous les paragraphes seront écrits en bleu"*/
	/*	
	p /*nom de la balise sur laquelle on va agir ; c'est général, toutes les balises <p> </p> subiront cette commande
	{
	    color: blue;  
	}

		Je commente tout ceci car je vais utiliser les classes.
	*/



	/*
		Donne la valeur "color=green" à la classe "troud". 
		En effet, chaque balise html de la forme "<truc class="troud"> subira le traitement css ci-dessous.
	*/
	.troud
	{
		color: green;
	}


	p 
	{
	    color: #ffff00; /*Couleur en hexadécimal */
	}

	/*
		Remarque importante : la différence entre 'class' et 'id' est qu'une balise affectée d'un 'id' est unique.
		Il faut utiliser cela pour les éléments uniques, comme quand on crée un lien par exemple.
		Voici un exemple de définition d'id : (il faut mettre un #)
	*/

	#surprise
	{
		color: red;
	}


	/*****
	*D'autres exemples de séleteurs :
	*****/

	/*balise "universelle", sélectionne toutes les balises et leur attribue des propriétés*/
	*
	{
		/*insérer des propriétés*/
	}

	/*sélectionner plusieurs balises en même temps ; ici, <p> et <em>*/
	p,em
	{
		/*insérer des propriétés*/
	}


	/*Sélectionne toutes les balies <em> contenues dans les balises <h3>*/
	h3 em
	{
		/*insérer des propriétés*/
	}

	/*Sélectionne les balises p qui suivent les h3*/
	h3 + p
	{
		/*insérer des propriétés*/
	}

	/*Sélectionne tous les titres qui ont l'attribut title*/
	h2[title]
	{
		/*insérer des propriétés*/
	}



	/*Sélectionne tous les titres qui ont l'attribut title ayant la valeur "Espèce de troud"*/
	h2[title="Espèce de troud"]
	{
		/*insérer des propriétés*/
	}

	/*Idem mais l'attribut de a doit seulement contenir un ici.*/
	a[title*="ici"]
	{
		color: red;
	}

	/*Pour voir d'autres sélecteurs, consulter le site : http://www.w3.org/Style/css3-selectors-updates/WD-css3-selectors-20010126.fr.html#selectors*/


/**********************************************
*       Formatage du texte                    *
**********************************************/
	/**************************************
	*Taille du teykst ; on peut changer d'unité
	*(mm, cm, ...) mais le px est bien sûr le plus adapté...
 	**************************************/

 		/*
		p
		{
	    	font-size: 14px; /* Paragraphes avec une police de 14 pixels /
		}

		h2
		{
			font-size: 17px; /*titres de 17 px/
		}
		*/
		/*Le problème, c'est que les navigateurs n'afficheront pas tous la même chose. On pourrait par exemple utiliser les commandes suivntes :
		*/

		p
		{
			font-size: 1em; /*1em correspond à une taille normale ; multiplier par x pour donner la valeur que l'on veut.*/
		}

	/**********************************
	*Polices Polices d'écriture
	*Télécharger des polices libres de droit : http://www.fontsquirrel.com/
	**********************************/

		/*
		Cette commande permet de créer une commande de police à partir de fichiers de police (mettre plusieurs formats, tous les navigateurs ne lisent pas tout)
		Si on utilise un dossier avec les polices, indiquer le chemin entre les '  '. C'est une sorte de déclaration des variables.
		*/
		@font-face {
	    font-family: 'MaSuperPolice';
	    src: url('MaSuperPolice.eot') format('eot'),
	         url('MaSuperPolice.woff') format('woff'),
	         url('MaSuperPolice.ttf') format('truetype'),
	         url('MaSuperPolice.svg') format('svg');
		}


		*
		{
			font-family: monospace; /*"Computer Modern", arial, serif; /*Ordre : cela signifie "mets du comic sans ms (LUUUULLLZZZZZ), s'il n'y en a pas mets du arial, et s'il n'y en a pas mets une police de merde par défaut.*/
		}

	/*********************************
	*Autres trucs pour modifier le teykstz.
	*********************************/
		/*Rend les balises em normalees au lieu de les mettre en italique*/
		em
		{
		    font-style: normal;
		}
		/*Sur d'autres balises, si je remplace normal par italic, ça les met en italique.*/

		.under
		{
			text-decoration: underline;
		}

		.barre
		{
			text-decoration: line-through;
		}

		.gras
		{
			 font-weight: bold;
		}

	/********************************************
	*Alignement du teyksqkqsstz
	*********************************************/

		/*Attention ! Ne fonctionne que sur des balises de type bloc !!!!!!*/

		h1
		{
		    text-align: center;
		}

		p
		{
		    text-align: justify;
		}

		.signature
		{
		    text-align: right;
		}


		/*Le teykst contourne l'image.*/
		.imageflottante
		{
		    float: left;
		}

		/*On arrête de faire flotter l'image*/
		.stopflot
		{
			clear: both;
		}




/******************************
*Gestion du fond
********************************/



	/*Exemple de code pour un fond :*/
	troudtroudtroud /*remplacer par body pour que ça prenne effet*/
	{
	    background-image: url("soleil.png");
	    background-attachment: fixed; /* Le fond restera fixe */
	    background-repeat: no-repeat; /* Le fond ne sera pas répété */
	    background-position: top right; /* Le fond sera placé en haut à droite */
	}
	/*Pour répéter dans seulement une direction : 
	repeat-x : le fond sera répété uniquement sur la première ligne, horizontalement.
	repeat-y : le fond sera répété uniquement sur la première colonne, verticalement.
	repeat : le fond sera répété en mosaïque (par défaut).		
	*/
	/*Une façon de combiner toutes les propriétés :*/

	troudezrghut
	{
		background: url("soleil.png") fixed no-repeat top right;
	}


	/* On travaille sur la balise body, donc sur TOUTE la page */
	body
	{
		background: url("../images/blohhrgrh-44e4038.jpg") fixed no-repeat top right , url("../images/fond_feuilles.png") fixed ; 
	    color: #65ff00; /* Le texte de la page sera vert clair ; 
	    					remarque : par héritage, toutes les balises dans le body 
	    					seront affectées de cette propriété, sauf celle auxquelle on spécifie une autre propriété.*/
	}
	/*la première image déclarée est au dessus de la suivante.*/




/****************************
*Opacité d'un paragraphe ou autre balise html
****************************/
	p
	{
	    background-color: black;
	    /*color: white;*/ /*J'ai déjà défini une couleur pour les balises p*/
	    opacity: 0.5;
	}


/***********************
*Bordures et ombres
************************/
	p
	{
	    border: 3px groove;
		border-color: #6e00a5;
	}
	/*Pour appliquer un bord différent de chaque côté :
	border-top : bordure du haut ;
	border-bottom : bordure du bas ;
	border-left : bordure de gauche ;
	border-right : bordure de droite.
	Si on ne met que certaines de ces commandes, il n'y aura que certaines bordures.
	*/



	p
	{
		border-radius: 10px 5px 10px 5px ; /*bords arrondis*/
		/*rayon des bords arrondis : 
		en haut à gauche ;
		en haut à droite ;
		en bas à droite ;
		en bas à gauche.*/
	}


	h1
	{
		border : 5px groove #6e00a5;
		border-radius: 20px / 10px;/*bords elliptiques*/
		box-shadow: 10px 10px 6px #ff9000; /*ombre : décalage, taille, adoucissement, couleur.*/
	}



/*******************************
*
*Apparences dynamiques
*
********************************/

	a /* Liens par défaut (non survolés) */
	{
	   text-decoration: none;
	   color: blue;
	   font-style: italic;
	}

	a:hover /* Apparence au survol des liens */
	{
	   text-decoration: underline;
	   color: green;
	}

	a:active /* Quand le visiteur clique sur le lien */
	{
	    background-color: #FFCC66;
	}

	a:visited /* Quand le visiteur a déjà vu la page concernée */
	{
	    color: #a100ff; /* Appliquer une couleur grise */
	}




