/******************************************
*Style pour structure.html
*
*30/08/2014
*Dans le tuto, j'en suis là :
*		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/structurer-sa-page
*		Terminay ==>
*		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/le-modele-des-boites
*06/09/2014
*		Terminay ! ==>
*		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/le-positionnement-en-css
*		Terminay ==>
*		http://fr.openclassrooms.com/informatique/cours/apprenez-a-creer-votre-site-web-avec-html5-et-css3/tp-creation-d-un-site-pas-a-pas
*
*
*
******************************************/

/****************
*Header
****************/

	header
	{
		text-align: center;
	}

	img.head /*Centrer les images du header*/
	{ 
	display: block; 
	margin: 0 auto; 
	/*height: XXXpx; /* spécifiez la hauteur de l'image, une bonne attitude à prendre */ 
	/*width: XXXpx; /* spécifiez la largeur de l'image, une bonne habitude à prendre */ 

	} 
	
	.header
	{
		display: inline-block;
		margin-left: 200px;
		margin-right: 160px;
	}


/***************************
*Body
***************************/
	/* On travaille sur la balise body, donc sur TOUTE la page */
	body
	{
		background: #000000 ; 
	    color: #65ff00; /* Le texte de la page sera vert clair ; 
	    					remarque : par héritage, toutes les balises dans le body 
	    					seront affectées de cette propriété, sauf celle auxquelle on spécifie une autre propriété.*/
	}

	a
	{
		color: #ff6100;
	}

	/*******************************
	*Barre de navigation
	*******************************/

		nav
		{
			display: inline-block;
		}

		ul
		{
			display: inline-block;
		}

		li
		{
			display: inline-block;
		}

		.topleft
		{
			text-align: left;
		}

		.topright
		{
			text-align: right;
		}


	/**/
	section
	{
		width: 70%;
		min-width: 400px;/*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		height: 150px;		
		font-family: sans-serif;
		border: 3px groove;
		border-color: #65ff00;
		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		overflow: auto;/*si le texte dépasse du bloc, un curseur apparaît.*/
	    padding: 20px; /* Marge intérieure de 20px */
	    /*margin: 50px; /* Marge extérieure de 50px */
	    margin-bottom: 20px;
	    margin-top: 20px;
	    margin-left: auto; /*bloc centré*/
	  	margin-right: auto;
	  	/*Si on veut des marges différentes sur chaque côté, utiliser les commandes suivantes :

	  	Voici la liste pour margin :

		margin-top : marge extérieure en haut ;
		margin-bottom : marge extérieure en bas ;
		margin-left : marge extérieure à gauche ;
		margin-right : marge extérieure à droite.
		Et la liste pour padding :

		padding-top : marge intérieure en haut ;
		padding-bottom : marge intérieure en bas ;
		padding-left : marge intérieure à gauche ;
		padding-right : marge intérieure à droite.*/

	}


	footer
	{
		text-align: center;
	}