
/****************
*Header
****************/

	header
	{
		text-align: center;
	}

	img.head /*Centrer les images du header*/
	{ 
	display: block; 
	margin: 0 auto; 
	/*height: XXXpx; /* spécifiez la hauteur de l'image, une bonne attitude à prendre */ 
	/*width: XXXpx; /* spécifiez la largeur de l'image, une bonne habitude à prendre */ 
	} 

	img.topic	
	{
		max-width: 700px;
		display: block; 
	}
	
	.header
	{
		display: inline-block;
		margin-left: 200px;
		margin-right: 160px;
	}


/***************************
*Body
***************************/
	/* On travaille sur la balise body, donc sur TOUTE la page */
	body
	{
		background: #000000 ; 
	    color: #8aefff; /* Le texte de la page sera bleu clair ; 
	    					remarque : par héritage, toutes les balises dans le body 
	    					seront affectées de cette propriété, sauf celle auxquelle on spécifie une autre propriété.*/
	}
	/*#65ff00 ==> pour le vert clair*/
	a
	{
		color: #4376AC;
		text-decoration: none;
	}
	a.ouvrir
	{
		color: #6FAFE9;
		text-decoration: none;
	}

	.politburo
	{
		color: #ff0000;
	}
	.politburoimage
	{
		border: 3px groove;
		border-color: #ff0000; 
	}

/*******************************
*Barre de navigation
*******************************/

	nav
	{
		/*display: inline-block;*/
	    /*position: relative;*/
	    float: right;
	    width: 235px;
		min-width: 200px;/*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		min-height: 150px; 	
		font-family: sans-serif;
		border: 3px groove;
		border-color: #8aefff;/*#65ff00 ==> vert clair*/
		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		overflow: auto;/*si le texte dépasse du bloc, un curseur apparaît.*/
	    padding: 20px; /* Marge intérieure de 20px */
	    margin-right: 100px; /* Marge extérieure de 50px */
	    margin-top: 20px;
	    /*
	    margin-bottom: 20px;
	    margin-right: 100px;
	  	margin-left: auto;
	  	*/
	}

	ul
	{
		display: inline-block;
	}

	li
	{
	    display: flex;
	    margin: 10px 0;
	    /*
		flex-direction: row;
		align-items: center;
		*/	
	}

	.topleft
	{
		text-align: left;
	}

	.topright
	{
		text-align: right;
	}


/*************************************
*  Blocs centraux
*************************************/
	article, aside
	{
	    display: inline-block;
	    vertical-align: top;
	    text-align: justify;
	}


	aside
	{
		position: relative;
	    float: right;
	    /*width: 235px;*/
		/*min-width: 200px;*//*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		/*min-height: 150px; */	
		max-width: 900px;
		font-family: sans-serif;
		/*border: 3px groove;*/
		/*border-color: #65ff00;*/
		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		/*overflow: auto;*//*si le texte dépasse du bloc, un curseur apparaît.*/
	    /*padding: 20px;*/ /* Marge intérieure de 20px */
	    /*margin-right: 100px;*/ /* Marge extérieure de 50px */
	    margin-top: 20px;	
	    margin-bottom: 20px;
	    margin-left: 40px;	
	    margin-right: auto;
	}



	article
	{
		/*border: 3px groove;*/
		/*border-color: #ff0000; */
		
		float: left;
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: 20px;
	  	margin-right: auto;
	  	/*position: relative;*/
	  	width:800px;
	}

	article.suppr
	{
		border: 3px groove;
		border-color: #ff0000; /*#65ff00 vert clair*/
	}

	section.bloc
	{
		width: 100%;
		/*min-width: 400px;*//*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		/*min-height: 150px;*/ 	
		font-family: sans-serif;
		/*border: none;*/

		border: none;

		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		/*overflow: auto;*/ /*si le texte dépasse du bloc, un curseur apparaît.*/
	    /*padding: 20px;*/ /* Marge intérieure de 20px */
	    /*margin: 50px; /* Marge extérieure de 50px */
	    /*margin-bottom: 20px;*/
	    /*margin-top: 20px;*/
	    margin: -20px;  /*auto; /*bloc centré*/
	  	/*margin-right: 20;*/
	}

	section
	{
		width: 70%;
		min-width: 400px;/*Exige une largeur minimale, même si un utilisateur a moins de 400px à 70%.*/
		min-height: 150px; 	
		font-family: sans-serif;
		border: 3px groove;
		border-color: #8aefff; /*#65ff00 vert clair*/
		text-align: justify;
		word-wrap: break-word; /*casse les mots trop longs comme les urls pour revenir à la ligne*/
		overflow: auto;/*si le texte dépasse du bloc, un curseur apparaît.*/
	    padding: 20px; /* Marge intérieure de 20px */
	    /*margin: 50px; /* Marge extérieure de 50px */
	    margin-bottom: 20px;
	    margin-top: 20px;
	    margin-left: 100px;/*auto; /*bloc centré*/
	  	margin-right: auto;
	  	/*Si on veut des marges différentes sur chaque côté, utiliser les commandes suivantes :

	  	Voici la liste pour margin :

		margin-top : marge extérieure en haut ;
		margin-bottom : marge extérieure en bas ;
		margin-left : marge extérieure à gauche ;
		margin-right : marge extérieure à droite.
		Et la liste pour padding :

		padding-top : marge intérieure en haut ;
		padding-bottom : marge intérieure en bas ;
		padding-left : marge intérieure à gauche ;
		padding-right : marge intérieure à droite.*/

	}





	footer
	{
		text-align: center;
	}